/* Home.css */

.home {
  /* ... (other styles) */
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  align-items: center;
}

.profile-image img {
  border-radius: 50%;
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.intro-text {
  text-align: left;
}

.intro-text h2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.intro-text h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  
}

.cv-button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  border-radius :12px;
 
}
.contact-bt{
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  border-radius:12px;
  
}

.contact-info {
  /* Add styles for contact info container */
}

/* Additional styling for left and right sections */
.left-section {
  margin-top:35px;
  /* Add styles for the left section */
}

.right-section {
  /* Add styles for the right section */
}
